<p class="font-weight-bold">Nombre: <span class="font-weight-normal">{{inputItemSeleccionado.nombre}}</span></p>
<p class="font-weight-bold">DNI: <span class="font-weight-normal">{{inputItemSeleccionado.dni}}</span></p>
<p class="font-weight-bold">Edad: <span class="font-weight-normal">{{inputItemSeleccionado.edad}}</span></p>
<p class="font-weight-bold">¿Tiene licencia profesional?: <span class="font-weight-normal">{{inputItemSeleccionado.licencia}}</span></p>
<p class="font-weight-bold">Numero de licencia: <span class="font-weight-normal">{{inputItemSeleccionado.numeroLicencia}}</span></p>
<p class="font-weight-bold">Pais de origen: <span class="font-weight-normal">{{inputItemSeleccionado.paisOrigen}}</span></p>
