<div class="background-image"> </div>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-info text-white componente-color" style="border-radius: 0px;" >
                <div class="card-body p-5 text-center componente-color" >
      
                  <div class="mb-md-5 mt-md-4 pb-5">
      
                    <h2 class="fw-bold mb-2 text-uppercase">Registrarse</h2>
                    <p class="text-white-50 mb-5">Ingrese sus datos</p>
      
                    <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
    
                    <div data-mdb-input-init class="form-outline form-white mb-4">
                      <input type="text" style="text-align: center;" formControlName="nombre" maxlength="35" placeholder="Nombre" id="registerName" class="form-control form-control-lg" />
                    </div>
                    <div data-mdb-input-init class="form-outline form-white mb-4">
                      <input type="email" style="text-align: center;" formControlName="email" maxlength="35" placeholder="Email" id="registerEmail" class="form-control form-control-lg" />
                    </div>
      
                    <div data-mdb-input-init class="form-outline form-white mb-4">
                      <input type="password" style="text-align: center;" formControlName="password" maxlength="35" placeholder="Clave" id="registerPassword" class="form-control form-control-lg" />
                    </div>
       
                  
                    <div data-mdb-input-init class="form-outline form-white mb-4">
                      <input type="password" style="text-align: center;" formControlName="repetirPassword" maxlength="35" placeholder="Repetir clave" id="registerRepeatPassword" class="form-control form-control-lg" />
                    </div>
    
                    <div class="mb-4">
                      <label for="selectedRole" class="form-label">Seleccione su rol:</label>
                      <select id="selectedRole" formControlName="selectedRole" class="form-select form-select-lg">
                          <option value="admin">Administrador</option>
                          <option value="empleado">Empleado</option>
                      </select>
                  </div>
        
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5 botones-color" [disabled]="formRegister.invalid">Registrarse</button>
      
                    <p class="mb-0">¿Ya tienes una cuenta? 
                      <button class="btn btn-link text-white-50 fw-bold " (click)="goToLogin()">Iniciar sesión</button>
                    </p>
                  </form>
                  </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
