<div class="background-image">  </div>
  
  <div class="container py-3">
      <header>
  
        <div class="container text-center">
          <span class="fs-4">Listado de vehículos</span>
        </div>

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <app-listar-elementos [listaElementos]="listaElementos" (crearElementoEmit)="crearElemVisual()" (modificarElementoEmit)="modificarElemento($event)"
          (borrarElementoEmit)="borrarElemento($event)"></app-listar-elementos>
        </div>

      </header>
    
      <main>
  
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center justify-content-center">
  
          <div class="col" *ngIf="crear">
            <div class="card mb-4 rounded-3 shadow-sm">
  
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Crear</h4>
              </div>
  
              <div class="card-body">
                <div class="card-body">
                 <app-crear-elemento (elementoCreado)="crearElemento($event)"></app-crear-elemento>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col" *ngIf="modificar">
            <div class="card mb-4 rounded-3 shadow-sm">
  
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Modificar</h4>
              </div>
  
              <div class="card-body">
                <div class="card-body">
                  <app-modificar-elemento [elemento]="elementoAModificar" (elementoCreado)="recibirElementoModificado($event)"></app-modificar-elemento> 
                </div>
              </div>
            </div>
          </div>
  
  
          <div class="col" *ngIf="eliminar">
  
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
  
              <div class="card-header py-3 text-bg-primary border-primary">
                <h4 class="my-0 fw-normal">Eliminar</h4>
              </div>
  
                <div class="card-body">
                  <div class="card-body">
                     <app-borrar-elemento [elemento]="elementoAEliminar" (elementoCreado)="recibirElementoAEliminar($event)"></app-borrar-elemento> 
                  </div>
                </div>
            </div>
          </div>
        </div>
      </main>
      <div class="fab-container">
        <div>
          <a class="fab fab-right" (click)="goTo('/home')">Ir a Inicio</a>
        </div>
        <div>
          <a class="fab fab-left" (click)="crearElemVisual()">Crear vehículo</a>
        </div>
      </div>
     
    </div>



